<header>
  <nav id="mainNav"
  <div class="logo">
    <a href="#">
    <img id="pic"src="bakery-icon.png" alt="icon">
    </a>
    <h2>La Boulangerie</h2>
  </div>
    <ul>
        <li><a href="/">Home</li>
        <li><a href="cookies">Cookies</li>
        <li><a href="muffins">Muffins</li>
        <li><a href="cakes">Cakes</li>
    </ul>
  </nav>
</header>
