<header>
  <nav id="mainNav"
  <div class="logo">
    <a href="#">
    <img id="pic"src="bakery-icon.png" alt="icon">
    </a>
    <h2>La Boulangerie</h2>
  </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cookies">Cookies</a></li>
        <li><a href="/muffins">Muffins</a></li>
        <li><a href="/cakes">Cakes</a></li>
    </ul>
  </nav>
</header>
