<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <%= erb :"partials/header" %>
    <br>
    <br><br>
    <br>
    <div>
      <img id="artisan"src="cake.jpg" alt="">
    </div>
      <script src="main.js">

      </script>
  </body>
</html>
