<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
    <link rel="stylesheet" href="main.css">

    <title></title>
  </head>
  <body>
    <%= erb :"partials/header" %>
    <br>
    <br><br>
    <br>
    <div>
      <img id="artisan"src="artisan.jpg" alt="">
    </div>
    <section>
      <div class="About">
        <h1>Welcome to La Boulangerie</h1>
        </div>
    </section>
    <br>
    <br>
    <div class="number1">
      <img src="bake.jpg" alt="">
        <div class="right">
        <h1>About Us</h1>
        <p>La Boulangerie was founded and opened by the amazing Pastry Chef Eli. Chef Eli has worked at some of the most luxurious bakeries all over France. He's decided to come to New York and show them what a real Pastry Chef looks like.</p>
      </div>
      </div>


<%= erb :"partials/footer" %>
<script src= "main.js"></script>

  </body>
</html>
