*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: Helvetica, Arial;
}
h2{
  text-align: center;
  padding-top: 13px;
  font-family: 'Cedarville Cursive', cursive;
  font-weight: lighter;
  font-size: 24pt;
  color: black;

}
h1{
  text-align: center;
  padding-top: 13px;
  font-family: 'Cedarville Cursive', cursive;
  font-weight: lighter;
  font-size: 36pt;
  color: black;

}
p{
  text-align: center;
  padding-top: 13px;
  font-size: 24;
  color: black;

}
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
#pic{
  width: 80px;
}
#artisan{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

#mainNav .logo img {
  height: 84px;
  transition: 0.4s;
  padding-left: 60px;
}
.bg-black{
  background: #eee; !important;
}
.txt-white {
  color: white; !important;
}

.number1{
  width: 100%;
  border: 3px solid #b35900;
  overflow: hidden;
}
.number1 img{
  display: inline-block;
  margin-left: 155px;
  /* margin-left: 15px; */
  float: left;
  width:400px;
}
.right{
  width: 40%;
  margin-left: 50%;
  margin-top: 40px;


  /* margin-bottom: 50%; */
  text-align: center;
  /* display: inline-block; */
}
.right h1{
  font-family: 'Cedarville Cursive', cursive;
  font-size: 34pt;
}
.right p{
  font-family: cursive;
  font-size: 24pt;
}


#mainNav{
  display: flex;
  justify-content: space-between;
  padding: 0px 16px;
  position: fixed;
  width: 100%;
  top: 0px;
  background: #b35900;
  transition: background 0.4s;
}
#mainNav ul {
  list-style: none;
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: black;

}
#main ul li {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: color 0.4s;
}
